@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import "./brandType.scss";

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%;
  z-index:10;
  position: absolute;
  left: 180px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.app-container {
  padding: 20px;
}
.custom-outer-border{
  width: 100%;
  height: 30px;
  line-height: 30px;
  // -webkit-app-region: drag;
  border-bottom: 1px solid #f0f0f0;
}
.flexbetween{
  display: flex !important;
  justify-content: space-between !important;
}

.payCode {
  .el-dialog__body {
    padding: 0;
  }
  .el-dialog__headerbtn{
    top: 10px;
    right: 13px;
    font-size: 20px;
  }
  .el-dialog__header {
    padding: 12px;
    background: #F5F5F5;
    font-size: 18px;
    font-weight: bold;
  }
}

.intervention {
  .el-dialog__body {
    padding: 10px 25px;
  }
}

.afterSaleName {
  .el-dialog__body {
    text-align: center;
  }
  .el-radio__label {
    font-size: 16px;
  }
  .el-radio__inner {
    width: 18px;
    height: 18px;
  }
  .el-button {
    margin: 10px;
  }
}